* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-131921: #131921;
}
body {
  font-family: "Rubik", sans-serif;
}
a {
  text-decoration: none;
  display: inline-block;
}

/* Header Part */
.header-top-strip {
  background-color: var(--color-131921);
}

/* Header Part End Here*/
